<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      {{ results | length }} reports
    </p>
  </div>
  <div class="govuk-grid-column-one-third" style="display: flex;flex-flow: column nowrap;">
      <p class="govuk-body gir_small" style="align-self: flex-end;margin-top:auto;">
        <a href="#">Subscribe to feed</a>
      </p>
  </div>
</div>

{% if filterLength != 0 %}
<div class="gir-filter-panel">

    {% if data.topics | length != 0 %}<span class="govuk-body gir-filter"><span class="govuk-!-font-weight-bold">Topics</span> <span class="gir-filtername">{{ data.topics }}</span></span>{% endif %}

    {% if data.themes | length != 0 %}<span class="govuk-body gir-filter"><span class="govuk-!-font-weight-bold">Grouping</span> <span class="gir-filtername">{{ data.themes }}</span></span>{% endif %}

    {% if data.status | length != 0 %}<span class="govuk-body gir-filter"><span class="govuk-!-font-weight-bold">Status</span> <span class="gir-filtername">{{ data.status }}</span></span>{% endif %}

</div>
{% endif %}
