
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Flood and coastal erosion risk management reports: prototypes</h1>
        <h3><span class="govuk-caption-xl">Using GOV.UK Prototype Kit {{releaseVersion}}</span>
      </h3>{{releaseVersion | log }}

      {{ govukWarningText({
        text: "This is a prototype for testing. It's not an actual government service.",
        iconFallbackText: "Warning"
      }) }}


      <h2 class="govuk-heading-m">GOV.UK Specialist Publisher</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p><a href="/fcrm-1//search-results_spec_pub-default?assets=_unchecked&datatype=_unchecked&environmental=_unchecked&flooding=_unchecked&status=_unchecked&policy=_unchecked&sources=_unchecked&name=">FCRM Specialist Publisher prototype V1.0</a></p>
        </li>
        <li>
          <p><a href="/fcrm-2//search-results_spec_pub-default?themes=_unchecked&status=_unchecked&name=&topics=&width-15=&width-15=">FCRM Specialist Publisher prototype V1.2</a></p>
        </li>
        <li>
          <p><a href="/fcrm-3//search-results_spec_pub-default?topics=_unchecked&themes=_unchecked&status=_unchecked&name=">FCRM Specialist Publisher prototype V1.3</a></p>
        </li>
        <li>
          <a href="/fcrm-1/product-details-default/R1">Completed research report EXAMPLE 1</a>
        </li>
        <li>
          <a href="/fcrm-1/product-details-default/R3">Completed research report EXAMPLE 2</a>
        </li>
        </ul>

       



      


<!-- <details class="govuk-details" data-module="govuk-details"><summary class="govuk-details__summary"><span class="govuk-details__summary-text">
      Version 2 design history
      </span></summary><div class="govuk-details__text">

          <h3 class="govuk-heading-s">Main research objectives</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Point 1
              </li>
              <li>
                Point 2
              </li>
              <li>
                Point 3
              </li>
            </ul>

            <p><a href="/public/images/">Site map V1</a></p>
            <p><a href="/public/images/">Site map V2</a></p>

            <h3 class="govuk-heading-s">Research findings</h3>

              <p><a href="/public/images/">research summary</a></p>


      </div></details> -->

      
       

      




     


         


    </div>
  </div>

{% endblock %}
