
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Flood and coastal erosion risk management research reports: prototypes</h1>
        <h3><span class="govuk-caption-xl">Using GOV.UK Prototype Kit {{releaseVersion}}</span>
      </h3>{{releaseVersion | log }}

      {{ govukWarningText({
        text: "This is a prototype for testing. It's not an actual government service.",
        iconFallbackText: "Warning"
      }) }}


      <h2 class="govuk-heading-m">Version 1</h2>

      <p><a href="/fcrm-1//search-results_spec_pub-default?assets=_unchecked&datatype=_unchecked&environmental=_unchecked&flooding=_unchecked&status=_unchecked&policy=_unchecked&sources=_unchecked&name=">FCRM Specialist Publisher prototype V1.0</a></p>

      <p>Examples</p>

      <p><a href="/fcrm-1/product-details-default/R1">V1.0 Completed research report EXAMPLE 1</a></p>
      <p><a href="/fcrm-1/product-details-default/R3">V1.0 Completed research report EXAMPLE 2</a></p>

      <details class="govuk-details" data-module="govuk-details"><summary class="govuk-details__summary"><span class="govuk-details__summary-text">
      Version 1 design history
      </span></summary><div class="govuk-details__text">

          <h3 class="govuk-heading-s">Main research objectives</h3>

          <p>Understand</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Each participants context of use e.g. commercial use of research, academic use of research, EA/NRW use of research
              </li>
              <li>
                How the participants context of use affects the way the access and use research
              </li>
            </ul>

            <p>Establish, in the light of the participants context of use, are the following items usable (effective and efficient) to use:</p>

            <ul class="govuk-list govuk-list--bullet">
            <li>
              Keyword searching
            </li>
            <li>
              Filtering search results
            </li>
            <li>
              Date and status filtering
            </li>
            <li>
              Search results
            </li>
            <li>
              Project meta data
            </li>
            <li>
              Access to project documentation
            </li>
            <li>
              Project summary
            </li>
          </ul>

          <p>Additionally, determine the value to participants of:</p>

            <ul class="govuk-list govuk-list--bullet">
            <li>
              The most appropriate style of date to associate with an inflight project delivery
            </li>
            <li>
              Information about the FCERM project pipeline (projects / topics that haven’t been allocated funding)
            </li>
          </ul>


            <h3 class="govuk-heading-s">Research findings</h3>

            <p>Finder</p>

            <ul class="govuk-list govuk-list--bullet">
            <li>
              Keyword search was effective and usable
            </li>
            <li>
              Filtering by the combination of grouping/topic was ineffective and inefficient. Participants indicated that the grouping/topic filters looked like menu based navigation “where will this take me?”.
            </li>
            <li>
              Participants were not confident what the proposed filters were or how to use them
            </li>
            <li>
              The combined grouping/topic filters didn’t support participants desired search techniques e.g. “I want to search more broadly so I can be sure I haven’t missed anything” and “I want to find the one specific project that I remember reading about”
            </li>
            <li>
              Topics duplicated across groupings led to confusion
            </li>
          </ul>

          <p>Project page</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              Project summaries were successfully used to determine the value of a project
            </li>
            <li>
              Projects need to display:
              1. the project code
              2. the project completion date to determine chronological relevance
              3. a separate publication date and information about changes to the page/project
              4. document type and file size, to provide additional context for the document “ is it a big file? Can I read it now? Or should I set aside time later.”
            </li>
          </ul>



      </div></details>

      <h2 class="govuk-heading-m">Version 1.2</h2>
      
      <p><a href="/fcrm-2//search-results_spec_pub-default?themes=_unchecked&status=_unchecked&name=&topics=&width-15=&width-15=">FCRM Specialist Publisher prototype V1.2</a></p>

      <h2 class="govuk-heading-m">Version 1.3</h2>

      <p><a href="/fcrm-3//search-results_spec_pub-default?topics=_unchecked&themes=_unchecked&status=_unchecked&name=">FCRM Specialist Publisher prototype V1.3</a></p>

      <p>Examples</p>

      <p><a href="/fcrm-3/product-details-default/R1">V1.3 Completed research report EXAMPLE 1</a></p>
      <p><a href="/fcrm-3/product-details-default/R3">V1.3 Completed research report EXAMPLE 2</a></p>



       <h2 class="govuk-heading-m">Prototype limitations</h2>

       <ul class="govuk-list govuk-list--bullet">
            <li>
              When filters are selected, the search control needs to be selected to display the results (see a live version of a Specialist Publisher finder to see how it will actually work https://www.gov.uk/raib-reports)
            </li>
            <li>
              More than one filter can be selected (but to work they have to be selected at the same time)
            </li>
            <li>Search terms work on report title but not on filter
            </li>
            <li>To clear filters and return to default view (no filters selected), select search control again</li>
            <li>Prototype currently only displaying one tag per filter. With the live Finder there will be no limitation how many tags for each filter can be displayed</li>
            <li>The prototype currently only contains a small proportion of actual FCERM reports. 25 was thought to be representative and allow testing of the functionality</li>
          </ul>



      


<!-- <details class="govuk-details" data-module="govuk-details"><summary class="govuk-details__summary"><span class="govuk-details__summary-text">
      Version 2 design history
      </span></summary><div class="govuk-details__text">

          <h3 class="govuk-heading-s">Main research objectives</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Point 1
              </li>
              <li>
                Point 2
              </li>
              <li>
                Point 3
              </li>
            </ul>

            <p><a href="/public/images/">Site map V1</a></p>
            <p><a href="/public/images/">Site map V2</a></p>

            <h3 class="govuk-heading-s">Research findings</h3>

              <p><a href="/public/images/">research summary</a></p>


      </div></details> -->

      
       

      




     


         


    </div>
  </div>

{% endblock %}
